.contain{
  grid-column: 2/3;
  grid-row: 2/3;
}

.content{
  display: flex;
  justify-content: center;
}

.table{
  padding: 2rem;
  display: grid;
  grid-template-columns: 15% 30% 15% 15% 15% 10%;
}
