.topratedcardwrapper{
  height: 100%;
  width: 290px;
  background-color: #242323;
  /* box-shadow: 0 0 0.5rem lightgray; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 1rem;
  overflow-x: hidden;
  padding: 1rem;
  transition: all 0.4s ease;
}

.topratedcardwrapper:hover{
  background-color: #2e2d2d ;

  transform: scale(1.05);
}

.topratedcardwrapper:hover .seePlaylist,
.topratedcardwrapper:hover .activeDelete,
.topratedcardwrapper:hover .seePlaylist2{
  right: 10px;
}

.topratedspan1{
  font-weight: bold;
  font-size: 14px;
  color: whitesmoke;
  letter-spacing: 2px;
  margin: 0 0 0 20px;
}


.topratedspan2{
  margin-top: 4px;
  color: #777777;
  font-size: 16px;
  margin: 0 0 0 20px;
}

.topratedimgdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 0 1rem black;
  position: relative;
  overflow-y: hidden;
}

.topratedimgdiv img{
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.seePlaylist{
  position: absolute;
  bottom: 45px;
  right: -50px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.seePlaylist2{
  position: absolute;
  bottom: 25px;
  right: -50px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.listen{
  position: absolute;
  background-color: peachpuff;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all 0.6s ease;
  visibility: hidden;
  cursor: pointer;
}

.topratedimgdiv:hover .listen{
  opacity: 1;
  visibility: visible;
  bottom: 10px;
}

.topratedimgdiv:hover .addContainer{
  opacity: 1;
  visibility: visible;
}



.listen:hover{
  scale: 1.1;
}

.addContainer{
  position: absolute;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
  cursor: pointer;
}

.addContainer:hover{
  transform: scale(1.08);
}

.addToCart{
  font-size: 50px;
  background-color: #5f5e5e37;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: whitesmoke;
}

.activeDelete{
  position: absolute;
  bottom: 10px;
  right: -50px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  gap: 12.5px;
  transition: all 0.3s ease;
}



.showUser{
  position: absolute;
  width: 40px;
  height: auto;
  top: 4px;
  left: 4px;
}

.showUser img{
  border-radius: 50%;
}

