.wrapper{
  height: 100%;
  margin-bottom: -5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
}

.subContainer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/images/profileBackground.jpg");
  background-size: cover;
  background-position: center;
}


.panel{
  padding: 5rem 1.5rem;
  width: 20vw;
  background-color: rgba(26, 26, 26, 0.24);
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: whitesmoke;
}

.panel span{
  letter-spacing: 2px;
}

.panel i{
  transition: transform 0.4s ease;
}

.panel div:hover i,
.panel div.active i{
  transform: rotate(-90deg);
}

.linkActive{
  color: #d73951;
}

.profile{
  width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
  position: relative;
}



.profileAnimation{
  position: relative;
  height: fit-content;
  width: fit-content;
}

.profileContainer{
  width: fit-content;
  background-color: rgba(26, 26, 26, 0.24);
  backdrop-filter: blur(10px);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.profileContainer:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle2 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#d18f99, #E3A6AF);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle2:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle2:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

.welcome{
  /* position: absolute;
  top: 30px;
  left: 70px; */
  margin-top: 0rem;
  margin-bottom: 3rem;
  justify-content: center;
  display: flex;
  align-items:center;
  width: 100%;
  margin-left: 4rem;
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
}

.welcome h2{
  font-size: 40px;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img{
  width: 300px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 0 1rem black;
}

.name{
  font-size: 35px;
  width: 500px;
  text-align: center;
  white-space: pre-wrap;
  color: whitesmoke;
  margin-top: 2rem;
  font-weight: 600;
  font-family: 'Belanosima', sans-serif;
  letter-spacing: 3px;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 4rem;
}

.buttons button:first-child{
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  background: #CB356B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: whitesmoke;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.buttons button:last-child{
  border: 1px solid #f5f5f7a3;
  text-transform: uppercase;
  font-size: 14px;
  background-color: rgb(26, 26, 26);
  border-radius: 50px;
  padding: 0.5rem 2.5rem;
  color: whitesmoke;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.buttons button:hover{
  opacity: 0.9;
}

.delete{
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  left: 20px;
}

.delete span{
  font-size: 12px;
  color: rgb(204, 53, 53);
}


.back{
  position: absolute;
  top: 15px;
  left: 15px;
  transition: scale 0.4s ease;
}

.back i:hover{
  transform: none !important;
  scale: 1.05;
}


/* PASSWORD */

.password{
  display: flex;
  justify-content: center;
  align-items: start;
  width: 80vw;
  height: 100vh;
}

.password form{
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.password input{
  width: 100%;
  border: none;
  background-color: #d4d3d3;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.form button{
  background-color: #1f1f1f;
  border: 1px dashed #7777778b;
  border-radius: 50px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #f5f5f7;
  padding: 0.5rem 2rem;
  transition: all 0.4s ease;
}


.popContainer{
  background-color: transparent;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.pop{
  background-color: #a6a5a51c;
  padding: 2rem;
  border-radius: 0.2rem;
}

.pop h2{
  color: whitesmoke;
}

.popTop{
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.popTop span:first-child{
  color: rgb(204, 53, 53);
}

.popTop span:last-child{
  color: #f5f5f7;
}

.popBottom{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #1f1f1f;
  color: whitesmoke;
  font-size: 14px;
  padding: 1.5rem;
  gap: 10px;
}

.banner{
  background-color: #E3A6AF;
  padding: 3rem 2.5rem;
  width: 100%;
}

.bannerTop{
  display: flex;
  justify-content: start;
}

.bannerTop div:first-child{
  padding-top: 2rem;
  width: 60%;
}

.bannerTop h2{
  font-weight: 600;
  font-size: 50px;
}

.bannerTop p{
  font-weight: 500;
  letter-spacing: 0.5px;
}

.bannerTop button{
  margin-top: 1.5rem;
  border: none;
  background-color: #1f1f1f;
  color: white;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
}

.bannerTop button:hover{
  opacity: 0.9;
}

.bannerTop div:last-child{
  width: 40%;
}

.bannerImg img{
  width: 300px;
  height: auto;
}

.bannerBottom{
  margin-top: 1.5rem;
  width: 60%;
  font-size: 12px;
}

.bannerBottom a{
  color: #1f1f1f;
}




/* DETAILS */

.details{
  width: 80vw;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.detailsTitle{
  position: absolute;
  color: whitesmoke;
  top: 40px;
  letter-spacing: 2px;
  font-family: 'Pacifico';
  font-size: 40px;
}


.formDiv {
  width: 400px;
  height: fit-content;
  transition: all 0.2s;
  position: relative;
  cursor: pointer;
}


.formDiv:hover {
  transform: scale(1.04) rotate(1deg);
}

.details form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: inherit;
  height: inherit;
  padding: 2rem;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.details form input{
  padding: 0.5rem 1rem;
  width: 100%;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border: none;
  color: whitesmoke;
  font-size: 14px;
  letter-spacing: 3px;
}

.details input::-webkit-inner-spin-button,
.details input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.details form input:focus{
  border: none;
  outline: none;
}


.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#d18f99, #E3A6AF);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}



.confirmEdit{
  color: #E3A6AF;
  transition: transform 0.3s ease;
}

.confirmEdit:hover{
  transform: scale(1.05)
}

.cancelEdit{
  color: lightgray;
  transition: transform 0.3s ease;
}

.cancelEdit:hover{
  transform: scale(1.05)
}


.edit{
  transition: transform 0.4s ease;
  width: fit-content;
}

.edit:hover{
  transform: scale(1.05)
}


.backEdit{
  position: absolute;
  bottom: 20px;
  transition: transform 0.3s ease;
}

.backEdit:hover{
  transform: scale(1.1);
  cursor: pointer;
}