.btnStart {
  border-radius: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgb(0, 0, 0);
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  margin: 500px 0 0 1150px;
  padding: 3px 30px 3px 30px;
  background-color: rgba(0, 0, 0, 0.911);
 position: absolute;
 bottom: 30px;
 right: 30px;
 z-index: 101;
}


.btnStart:hover {
  background: rgba(255, 255, 255, 0.514);
  font-weight: 500;
  box-shadow: 5px 5px 5px rgb(7, 4, 4);
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}