.container{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.container:first-child{
  border-left: 4px solid #000;
  border-top-left-radius: 2rem;
}

.container:last-child{
  border-right: 4px solid #000;
  border-top-right-radius: 2rem;
}

.title{
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  height: 2rem;
}

.value{
  padding: .5rem;
  text-align: center;
  font-weight: 650;
  height: 4rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.value:nth-child(1){
  border-top: 4px solid #000;
}

.active{
  color: #037703;
  text-transform: uppercase;
}

.disabled{
  color: #3a3a3a;
  text-transform: uppercase;
}

.deleted{
  color: #db1d1d;
  text-transform: uppercase;
}

.icon{
  font-size: 2rem;
  color: #00f;
  cursor: pointer;
}

.iconTrash{
  font-size: 1.5rem;
  color: #db1d1d;
  cursor: pointer;
}

.icon:hover{
  scale: 1.1;
}

.iconTrash:hover{
  scale: 1.1;
}