/* .aboutWrapper{
  height: 400px;
  width: 100%;
} */

.landingPanelWrapper{
  background-image: url('../../components/assets/about.png');
  background-size: cover;
  gap: 80px;
  align-items: start;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}

.landingContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.landingPanelMembers{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingPanelMembers span{
  cursor: default;
}

.landingPanelMembers ul{
  position: relative;
  transform: skewY(-15deg);
}

.landingPanelMembers ul li{
  position: relative;
  list-style: none;
  width: 200px;
  background: linear-gradient(
    to bottom right,
    rgba(247, 133, 39, 0.596),
    rgba(173, 14, 112, 0.486)
  );
  border: 2px solid rgba(126, 1, 119, 0.432);
  margin-top: 10px;
  padding: 15px;
  z-index: attr(zIndex);
  transition: 0.5s;
}

.landingPanelMembers ul li:hover{
  background: linear-gradient(
    to bottom right,
    rgba(255, 108, 9, 0.815),
    rgba(235, 13, 150, 0.788)
  );
  transform: translateX(-20px);
}


/* .landingPanelMembers ul li.active{
  transform: translateX(-50px);
} */
/* EN APP CSS */

.landingPanelMembers ul li::before{
  content: "";
  position: absolute;
  top: 0;
  left:-40px ;
  width: 40px;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(255, 119, 8, 0.801),
    rgba(173, 14, 112, 0.486)
  );
  box-shadow: -3px 3px 3px rgba(90, 87, 90, 0.575);
  border: 2px solid rgba(240, 55, 230, 0.432);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}

.landingPanelMembers ul li::after{
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom right,
    rgba(61, 5, 58, 0.596),
    rgba(228, 105, 23, 0.774)
  );
  
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.5s;
  
}

.landingPanelMembers ul li span{
  text-decoration: none;
  color: #afaaf5f1;
  display: block;
  font-weight: 700;
  margin-left: 30px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.landingPanelMembers ul li:hover span{
  color: #fff;
}

/* MEMBER */

.landingMembers{
  padding: 0rem 3rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingMembers input{
  display: none;
}
.sliderContainer{
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-direction: column;
  margin-bottom: 100px;
}

.sliderCards{
  position: relative;
  height: 500px;
  width: 430px;
  margin-bottom: 20px;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.sliderCards .slideCard{
  position: relative;
  background-color: #6007684b;
  border: 3px solid rgba(255, 211, 244, 0.575);
  /* box-shadow: 3px 15px 25px rgba(0, 0, 0, 0.479); */
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem #bc13fe,
            0 0 0.4rem #bc13fe,
            0 0 1.4rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 
  border-radius: 15px;
  padding: 30px 35px;
}



.sliderCards .slideImage{
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  background-color: white;
  width: fit-content;
  height: fit-content;
  transition: .7s;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
  border-radius: 10px;
}

.sliderCards .slideImage:hover{
  transform: scale(1.05);
}

.sliderCards .slideImage img{
  border-radius: 5px;
  /* margin-top: 23px; */
  width: 275px;
  height: 275px;
  height: auto;
  transition: all .7s;
}

/* .sliderCards .slide-image img:hover{
  transform: scale(1.05);
} */


.slideCard .slideInfo{
  display: block;
  text-align: end;
  padding-top: 60px;
}

.slideCard .slideInfo span{
  display: block;
}

.slideCard .slideInfo .slideName{
  font-size: 20px;
  color: rgb(255, 255, 255);
  letter-spacing: 8px;
  margin-bottom: 20px;
  padding-left: 25%;
  transition: all .6s ease;
}

.slideCard .slideDescription{
  font-size: 14.5px;
  color: whitesmoke;
  letter-spacing: 3px;
  margin-bottom: 1.5rem;
}

.slideInfo .slideDetails{
  display: none;
  visibility: hidden;
  width: 100%;
  height: 60px;
  margin: 35px auto;
  border-radius: 5px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: 700;
  white-space: nowrap;
  transition: all .7s ease;
}


.slideCard .slideDetails:hover{
  transform: scale(1.09);
}


.slideCard .slideLinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.slideCard .slideLinks i{
  font-size: 24px;
  transition: all .7s ease;
  color: #f5f5f7;
}

.slideCard .slideLinks i:hover{
  transform: scale(1.2);
}



/* SLIDE FUNCTIONALITY */


/* #s1:checked~.sliderCards #slide1,
#s2:checked~.sliderCards #slide2,
#s3:checked~.sliderCards #slide3,
#s4:checked~.sliderCards #slide4,
#s5:checked~.sliderCards #slide5,
#s6:checked~.sliderCards #slide6,
#s7:checked~.sliderCards #slide7,
#s8:checked~.sliderCards #slide8{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(0, 0, 1px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked~.sliderCards #slide8,
#s2:checked~.sliderCards #slide1,
#s3:checked~.sliderCards #slide2,
#s4:checked~.sliderCards #slide3,
#s5:checked~.sliderCards #slide4,
#s6:checked~.sliderCards #slide5,
#s7:checked~.sliderCards #slide6,
#s8:checked~.sliderCards #slide7{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(-35%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#s1:checked~.sliderCards #slide2,
#s2:checked~.sliderCards #slide3,
#s3:checked~.sliderCards #slide4,
#s4:checked~.sliderCards #slide5,
#s5:checked~.sliderCards #slide6,
#s6:checked~.sliderCards #slide7,
#s7:checked~.sliderCards #slide8,
#s8:checked~.sliderCards #slide1{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(35%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}


#s1:checked~.sliderCards #slide7,
#s2:checked~.sliderCards #slide8,
#s3:checked~.sliderCards #slide1,
#s4:checked~.sliderCards #slide2,
#s5:checked~.sliderCards #slide3,
#s6:checked~.sliderCards #slide4,
#s7:checked~.sliderCards #slide5,
#s8:checked~.sliderCards #slide6{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(-75%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}


#s1:checked~.sliderCards #slide3,
#s2:checked~.sliderCards #slide4,
#s3:checked~.sliderCards #slide5,
#s4:checked~.sliderCards #slide6,
#s5:checked~.sliderCards #slide7,
#s6:checked~.sliderCards #slide8,
#s7:checked~.sliderCards #slide1,
#s8:checked~.sliderCards #slide2{
  box-shadow: 0 15px 30px rgba(0, 0, 0, 45%);
  transform: translate3d(75%, 0, -220px);
    --current-color1: #eceaed;
    --current-color2: #404457;
} */



/* TITLE */

/* DESDE ACA */
.landingPanelTitle{  
  padding: 2rem 1.2rem;
  /* asi estaba antessssss, jajaja */
  border-radius: 10px;
  margin-top: -300px;
  background: linear-gradient(to right, rgba(131, 25, 82, 0.534), #2c0218c7);
}
.landingPanelTitle h2{ 
  position: relative;
  font-size: 3em;
  letter-spacing: 10px;
  color: #82378b;
  text-transform: uppercase;
  width: 100%;    
  text-align: center;
  -webkit-box-reflect: below 0.5px linear-gradient(transparent, #0004);
  /* El webkit reflect hace el efecto de reflejo de las letras */
  /* Le podeemos poner un fondo naranja o violeta para que pegue con el fondo, tipo asi mira */
  line-height: 0.84em;
  outline: none;
  animation: neonPink 5s linear infinite;
}

@keyframes neonPink{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%  
  {
    color: rgb(171, 60, 97);
    /* Esto es el color cuando las luces estan 'apagadas' */
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
    color: #fff;
    /* Esto es el color cuando brillan, si le pones color naranja, el brillo va a ser naranja digamos */
    text-shadow: 0 0 10px rgb(223, 54, 24),
                0 0 20px rgb(223, 54, 24), 
                0 0 40px rgb(223, 54, 24), 
                0 0 80px rgb(223, 54, 24),
                0 0 160px rgb(223, 54, 24);
  } 
}