.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.videoWrapper{
  position: absolute;

  width: 100%;
  height: 100%;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}



.container{
  padding: 3rem;
  position: absolute;
  width: 80%;
  padding: 1.5rem;
  z-index: 103;
  background-color:rgba(255, 127, 80, 0.603);
  box-shadow: 0 0 .1rem #fff,
  0 0 .1rem #fff,
  0 0 1rem coral,
  0 0 0.4rem coral,
  0 0 1.4rem coral,
  inset 0 0 1.3rem coral; 
  height: 700px;
  overflow: auto;
}

.firstSection{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstSection .subContainer{
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
}

.firstSection h2{
  margin-bottom:  2rem;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 6px;
}



.next{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.back{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.finish{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.finish button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: coral;
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 14px;
}



.smallPic{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  height: 100%;
}

.smallPic img{
  width: 70px;
  height: auto;
  border-radius: 0.2rem;
}

.smallPicsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.smallPicsContainer div{
  transition: scale 0.4s ease;
}


.bigPic{
  margin-top: 2rem;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigPic img{
  width: 300px;
  height: auto;
  border-radius: 0.2rem;
}

.bigPic h2{
  letter-spacing: 6px;
  font-family: "Pacifico";
}


/* USERNAME INPUT */

.username {
  position: relative;
  width: 100%;
  margin-top: 3rem;
}

.username input{
  font-size: 25px;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-bottom: 2px solid #ccc;
  font-family: "Pacifico";
  color: white;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.username span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: coral;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.username input:focus {
  border-color: coral;
  outline: none;
}

.username input::placeholder{
  color: whitesmoke;
  letter-spacing: 3px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username input:focus + .username span {
  transform: scaleX(1);
}



/* SIGN UP PART 2*/

.secondPart{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-top: 1rem; */
}

.secondPart h2{
  margin-bottom: 3rem;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 6px;
}

.secondPart form{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.inputDiv {
  position: relative;
}

.inputDiv input {
  padding: 15px 20px;
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: #e8e8e8;
  border: 1px solid coral;
  font-size: 13px;
  letter-spacing: 2px;
  width: 100%;
}

.inputDiv input::-webkit-inner-spin-button,
.inputDiv input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

.inputDiv input::placeholder{
  color: whitesmoke;
  font-size: 13px;
  letter-spacing: 2px;
}

.inputDiv span {
  position: absolute;
  left: 0;
  font-size: 0.7em;
  transform: translateX(14px) translateY(-7.5px);
  padding: 0 6px 1px 5px;
  border-radius: 2px;
  background: coral;
  letter-spacing: 1px;
  border: 1px solid coral;
  color: #e8e8e8;
}




/* SIGN UP PART 3 */

.password{
  display: flex;
  flex-direction: column;
}

.password h2{
  margin-bottom: 3rem;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 6px;
}

.password form{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.alert{
  margin-top: 2rem;
  background-color: coral;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 2rem;
  border-radius: 0.5rem;
  line-height: 30px;
  transition: opacity 0.3s ease;
}

.alert span:first-child{
  font-size: 13px;
  color: rgb(128, 46, 16)
}

.alert:hover{
  opacity: 0.9;
}



/* STEPS FIRST SECTION */

.step1Div{
  display: flex;
  align-items: center;
  border-radius: 50px;
  color: whitesmoke;
  font-size: 14px;
  letter-spacing: 1px;
}

.step1{
  width: 18px;
  height: 18px;
  background-color: coral;
  color: whitesmoke;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-right: 8px;
}