.article{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.div{
  background: #D66D75;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E29587, #D66D75);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E29587, #D66D75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-top: 4rem;
  border-radius: 0.2rem;
  position: relative;
}

.back{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #1f1f1f;
  color: whitesmoke;
  transition: scale 0.5s ease;
}

.back:hover{
  scale: 1.1;
}

.img img{
  width: 400px;
  height: auto;
  border-radius: 0.2rem;
  box-shadow: 0 0 4rem #d9313f;
  transition: transform 0.8s ease;
}

.img img:hover{
  transform: scale(1.03);
}

.details{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.details span:first-child{
  color: whitesmoke;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.details span:last-child{
  color: #777777;
  font-size: 15px;
}


.price{
  font-size: 30px;
  color: whitesmoke;
  /* font-family: 'Raleway', sans-serif; */
  letter-spacing: 3px;
}


.submit{
  margin-top: 3rem;
  text-align: center;
  width: 100%;
  background-color: #1f1f1f;
  color: whitesmoke;
  padding: 1rem 0rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 0.2rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.submit:hover{
  opacity: 0.9;
}

.quantity{
  letter-spacing: 3px;
  margin-left: 1rem;
  font-size: 20px;
  color: whitesmoke;
}