.playlistModalArticle{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    
}

.playlistModalDiv{
    position: relative;
    width: 500px;
    height: 700px;
    overflow-y: auto;
    background-color: #1F1F1F;
    border-radius: 1rem;
    padding: 2rem;
    /* border-width: 6px;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(49, 49, 49), #1F1F1F) 1; */
}

.playlistModalDiv::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.playlistModalDiv::-webkit-scrollbar-track {
background: rgb(243, 172, 196);
}

/* Handle */
.playlistModalDiv::-webkit-scrollbar-thumb {
background: palevioletred

}

/* Handle on hover */
.playlistModalDiv::-webkit-scrollbar-thumb:hover {
background: #555;
}

.playlistModalBtn{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: palevioletred;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistModalDetails{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

.playlistModalDetails img{
    width: 60px;
    height: auto;
    /* border-radius: 50%; */
}

.playlistModalDetails span:first-child{
    font-size: 13px;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 1px;
}

.playlistModalDetails span:last-child{
    font-size: 14px;
    color: #777777;
    letter-spacing: 0.5px;
}

.playlistModalCard{
    position: relative;
}

.favorites{
    position: absolute;
    top:10px;
    right:10px;
    color: whitesmoke;
}

.playlistTitle{
    padding-bottom: 2rem;
    text-align: center;
    color: #f5f5f7;
    letter-spacing: 2px;
}


.back{
    background-color: #f5f5f7;
    color: #1F1F1F;
    width: fit-content;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.back:hover{
    scale: 1.1;
}

.playDiv{
    position: relative;
}

.play{
    position: absolute;
    top: 20%;
    left: 20%;
    width: 35px;
    height: 35px;
    background-color: #777777a1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease;
    cursor: pointer;
}

.playDiv:hover .play{
    opacity: 1;
    visibility: visible;
}