.article{
  position: fixed;
  bottom: 0;
  z-index: 999;
  height: fit-content;
  width: 100%;
  background-color: #070707;
}


.div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  position: relative;
}

.close{
  position: absolute;
  top: 10%;
  opacity: 0;
  visibility: hidden;
  color: whitesmoke;
  left: 8%;
  border-radius: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #0707079a;
  transition: all 0.6s ease;
  cursor: pointer;
}

.left div:first-child:hover .close{
  opacity: 1;
  visibility: visible;
}

.left{
  display: flex;
  align-items: center;
}

.left div:first-child{
  width: fit-content;
}

.left div:first-child img{
  width: 60px;
  height: 60px;
  border-radius: 0.2rem;
  transition: transform 0.8s ease;
}

.left div:first-child img:hover{
  transform: scale(1.05);
}

.middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.middleTop{
  display: flex;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
}





.play{
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.play i{
  font-size: 30px;
  color: white;
}

.right{
  display: flex;
  align-items: center;
  gap: 15px;
}

.right i{
  color: whitesmoke;
}


.middleBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.large{
  height: 5px;
  border-radius: 50px;
  background-color: whitesmoke;
  flex-grow: 1;
}




input[type="range"] {
  accent-color: #777777;
}

