.wrapper {
  background-image: url("../assets/soundddddd.png");
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
}

.playForListen {
  position: absolute;
  background-color: rgba(19, 19, 19, 0.541);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
  right: 220px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease;
}
.cardsContainer:hover .playForListen {
  opacity: 1;
  visibility: visible;
}

.playForListen:hover {
  box-shadow: 3px 3px 15px black;
  scale: 1.1;
  z-index: 100;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: rgba(0, 0, 0, 0.74);
  font-weight: 600;
  letter-spacing: 2px;
  padding: 30px;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgb(255, 254, 254) , 0 0 50px rgb(255, 254, 254) , 0 0 80px rgb(255, 254, 254) , 0 0 40px #ffbe0d , 0 0 70px #ffbe0d  , 0 0 80px #ffbe0d  , 0 0 100px #ffbe0d ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.titulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 240px;
}

.container1 {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-bottom: 9rem;
  background: black;
  background-size: contain;
 }

.cardsContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: fit-content;
  background-image: url('../assets/caddds.png');
  background-size:cover;
  border-radius: 15px;
  margin-top: 30px;
  padding: 10px 10px 25px 10px;
  transition: all 0.6s ease;
}

.cardsContainer:hover {
  transform: translateY(-15px);
  box-shadow: 3px 3px 15px black;
}
.boxData {
  margin-top: 15px;
}
.span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 184, 184);
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 700;
}
.image {
  transition: all 0.6s ease;
  border-radius: 15px;
  z-index: 40;
}

.image img{
  z-index: 40;
}

.image:hover {
  box-shadow: 3px 3px 15px black;
  border-radius: 15px;
}

.create {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createContainer {
  background: linear-gradient(to right, #fffbfb8f, #fff3f38f);
  width: 250px;
  border-radius: 10px;
  margin: 0 0 0 1000px;
  padding: 5px;
  border: none;
  margin-bottom: 100px;
  transition: all 0.6s ease;  
}
.createContainer:hover {
  transform: scale(1.1);

}

.image img {
  border-radius: 15px;
  width: 260px;
  border: none;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 5px;
  width: 30px;
}

.btn:hover {
  transform: rotate(90deg);
  transition: transform 0.3s;
}
.setName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputName {
  margin-top: 5px;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.842);
  color: rgba(255, 255, 255, 0.747);
  border: none;
  letter-spacing: 2px;
  padding: 2px 0 2px 10px;
}
.inputName:hover {
  background: rgba(97, 1, 89, 0.473);
  scale: 1.1;
  box-shadow: 2px 2px 2px black;
}
.btnName {
  background: rgba(0, 0, 0, 0.842);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.747);
  border: none;
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 12px;
  align-items: center;
  width: 60px;
  height: 25px;
  margin: 0 5px 0 5px;
}
.btnName:hover {
  scale: 1.1;
  background: rgba(97, 1, 89, 0.473);
  box-shadow: 2px 2px 2px black;
}
.btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
}
