.topratedcardwrapper{
    height: 100%;
    width: 290px;
    background-color: #242323;
    /* box-shadow: 0 0 0.5rem lightgray; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
    overflow-x: hidden;
    padding: 1rem;
    transition: all 0.4s ease;
}

.topratedcardwrapper:hover{
    background-color: #2e2d2d ;

    transform: scale(1.05);
}

.topratedcardwrapper:hover .seePlaylist{
    right: 10px;
}

.topratedspan1{
    font-weight: bold;
    font-size: 14px;
    color: whitesmoke;
    letter-spacing: 2px;
    margin: 0 0 0 20px;
}


.topratedspan2{
    margin-top: 4px;
    color: #777777;
    font-size: 16px;
    margin: 0 0 0 20px;
}

.topratedimgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    box-shadow: 0 0 1rem black;
}

.topratedimgdiv img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.seePlaylist{
    position: absolute;
    bottom: 25px;
    right: -50px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}


