
.wrapper{
  height: 100%;
  background: #1F1F1F;
  width: 100%;
  display: flex;
  align-items: start;
}


.left{
  width: fit-content;
  height: 100%;
  background-color: rgb(34, 34, 34);
  /* box-shadow: 0px 10px 3px 0px black; */
  display: flex;
  flex-direction: column;
  align-items: start;
  color: whitesmoke;
  padding: 1.5rem;
}

.left span{
  width: 100%;
  letter-spacing: 3px;
}

.right{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 1rem;
  gap: 40px;
  min-height: 80vh;
}

.favSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.favSectionActive{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
  color: palevioletred;
}

.favSectionActive .favIcon{
  transform: rotate(-90deg);
}

.favSection:hover .favIcon{
  transform: rotate(-90deg);
}

#active{
  background-color: grey !important;
}

.favIcon{
  transition: 0.9s;
}



.favTitle{
  width: 100%;
  /* flex-grow: 1; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100%;
  padding: 2rem;
  text-align: center;
}

.favTitle span{
  font-family: "Raleway dots";
  color: white;
  font-size: 30px;
  letter-spacing: 8px;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.emptyFavs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 60vh;
}

.emptyFavs div:first-child i{
  font-size: 50px;
  color: lightgray;
}

.emptyFavs div:last-child p{
  font-family: "Raleway";
  color: lightgray;
  font-size: 20px;
  letter-spacing: 3px;
}