.songContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 20vh 10vh;
  flex-direction: column;
  font-family: 'Poppins';
}
.imgSong {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  border: 3px solid #014884;
}
.nameSong {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  color: #015993;
}

.song {
  width: 100%;
}
.details {
  background-color: #eee;
  padding: 20px;
  border-bottom: 3px solid #015993;
  outline: 2px solid #015993;
  border-radius: 12px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.containerBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 5vh;
}
.artistDetail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}
.loading {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerIcon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2rem;
  color: #033564;
  margin-bottom: 5vh;
}
