.container {
  background: white;
  width: 100%;
  height: auto;
  padding: 3rem 3rem;
}

.name {
  display: flex;
  justify-content: center;
}


.container2 h2{
  font-size: 18px;
  font-weight: 600;
}

.h2 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 15px;
  margin-top: -25px;
  margin-bottom: 10px;
}
.temas {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: white;
}
.container3 {
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 3rem 1rem;
  gap: 30px;
  position: relative;
}


.welcome{
  margin-top: 0;
  background: linear-gradient(#FB4EA3, #82378b);
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  height: 90px;
  letter-spacing: 6px;
}



.container3::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.container3::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.container3::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#FB4EA3, #82378b);
}

/* Handle on hover */
.container3::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.cardsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}