.homeContainer {  
  display: flex;   
}
.sideBar {
 height: auto;
 background-color: #222;
}

.container {
  margin-left: 20px;
  background: white;
  width: 80%;
  height: auto;
  padding: 2rem 4rem;
}


/* HASTA ACA  */
.name {
  display: flex;
  justify-content: center;
}


.container2 h2{
  font-size: 18px;
  font-weight: 600;
}

.h2 {
  display: flex;
  justify-content: center;
  color: white;
  padding: 15px;
  margin-top: -25px;
  margin-bottom: 10px;
}
.temas {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: white;
}
.containerSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  padding: 3rem 1rem;
  gap: 30px;
  position: relative;
}


.welcome{
  margin-top: 0;
  background: linear-gradient(#FB4EA3, #82378b);
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  font-size: 30px;
  height: 90px;
  letter-spacing: 6px;
}



.containerSlider::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.containerSlider::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.containerSlider::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(#FB4EA3, #82378b);
}

/* Handle on hover */
.containerSlider::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.cardsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

/* BEST SELLER */


.bestSellerWrapper{
  margin-top: 7rem;
}

.bestSellerImg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestSellerImg span{
  text-transform: uppercase;
  font-family: verdana;
  font-size: 35px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 0.5px 1px lightgray,
               1px 1px 1px lightgray,
               1px 1.5px 1px lightgray,
               1px 2px 1px lightgray,
               1px 2.5px 1px lightgray,
               1px 3px 1px lightgray,
               1px 3.5px 1px lightgray,
               1px 4px 1px lightgray,
               1px 4.5px 1px lightgray,
               1px 5px 1px lightgray,
               1px 8px 3px rgb(16, 16, 16, 0.4),
               1px 9px 6px rgb(16, 16, 16, 0.2)
}


.bestSellerImg img{
  width: 50px;
  height: auto;
}

.prizes{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  /* background-color:#f5f5f7; */
  padding: 3rem 0rem;
}

.prizesCard{
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.prizeArtist{
  padding-top: 1rem;
  background-color: #222;
}

.prizeArtist img{
  width: 40px;
  height: auto;
  border-radius: 50px;
}

.span{
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.span span:first-child{
  color: white;
  font-size: 15px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  letter-spacing: 3px;
}
.span span:last-child{
  color: white;
  font-size: 16px;
  padding-bottom: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase
  ;
}

.prizeImg{
  position: absolute;
  top: -30px;
  left: -30px;
  background-color: #f5f5f7;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem lightgray
  ;
}


.prizeImg img{
  width: 60px;
  height: auto;
}

.cardImg img{
  width: 450px;
  height: auto;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}