@import url("https://fonts.googleapis.com/css?family=Poppins&effect=fire-animation|emboss|3d-float");


html{
  font-family: 'Raleway', sans-serif;
  height: 100%;
  background-color: #1f1f1f;
}

body{
  height: 100%;
}

/* CUSTOM CLASSES */

/* GAP */
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.gap-25 {
  gap: 25px;
}
.gap-30 {
  gap: 30px;
}

/* WIDTH */

.w-25 {
  width: 25% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-50 {
  width: 50% !important;
}
.w-55 {
  width: 55% !important;
}
.w-60 {
  width: 60% !important;
}
.w-65 {
  width: 65% !important;
}
.w-70 {
  width: 70% !important;
}
.w-75 {
  width: 75% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}
.w-100 {
  width: 100% !important;
}
.dropdownMenu_list__5WHO5 {
  padding: 0 !important;
  margin: 0 !important;
}
/* HEADER */

.header {
  background-image: linear-gradient(#c04848, #480048);
  padding: 1.5rem;
  padding: 2rem;
  width: 100%;
  gap: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-top: -40px;
  width: 180px;
  height: auto;
}

.header p {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-links p {
  transition: color 0.3s ease;
  cursor: pointer;
}

.header-links p:hover {
  color: #fb4ea3;
}

.info-icons i {
  transition: all 0.4s ease;
}

.info-icons i:hover {
  transform: scale(1.1);
}

/* FOOTER */

.footer {
  background-image: linear-gradient(#c04848, #480048);
  padding: 1.5rem;
  height: fit-content;
  margin-bottom: -10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: white;
  width: 100%;
  overflow: hidden;
}

.footer span {
  margin-top: 0.5rem;
  font-weight: 300;
  font-size: 14px;
}

.footer p {
  font-weight: bold;
  font-size: 25px;
  color: #f5f5f7;
}

/* LANDING CONTACT WRAPPER */
/* START */

/* USER ICON */

.user {
  position: relative;
}

/* PANEL */

.go-up-panel {
  bottom: 10px;
  position: absolute;
  background-color: #f5f5f7;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 101;
}

.go-up-panel.hide {
  display: none;
}

/* CONTACT SECTION */

.go-up-contact {
  top: 10px;
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.go-up-contact.hide {
  display: none;
}
.landing-panel-wrapper {
  background-image: url("../src/components/assets/msss.png");

  background-size: cover;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.landing-panel-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(top, transparent 0%, #000000c7, 0, 0, 0.229)
    100%; /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #000000c7),
    color-stop(100%, rgba(0, 47, 75, 0.5))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    #000000c7 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    transparent 0%,
    #000000c7 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    transparent 0%,
    #000000c7 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #000000c7 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.landing-contact-wrapper {
  background-image: url("../src/components/assets/auric.jpg");
  background-size: cover;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.landing-contact-social-icons-ul {
  display: flex;
  position: relative;
  align-items: center;
}

.landing-contact-social-icons-ul li {
  list-style: none;
  margin: 0 5px;
}

.landing-contact-social-icons-ul li .fa-brands {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: 0.5s;
  padding-right: 14px;
}

.landing-contact-social-icons-ul li span {
  position: absolute;
  top: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  transition: 0.5s;
}

.landing-contact-social-icons-ul li a {
  text-decoration: none;
  display: block;
  width: 210px;
  height: 80px;
  background: #ffffff63;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(221, 195, 195, 0.733);
}

.landing-contact-social-icons-ul li a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #3a3535;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}

.landing-contact-social-icons-ul li a::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}

.landing-contact-social-icons-ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.landing-contact-social-icons-ul li:hover .fa-brands {
  color: #fff;
}

.landing-contact-social-icons-ul li:hover span {
  color: #fff;
}

/* GIITHUB LI */

.landing-contact-social-icons-ul li:hover:nth-child(1) a {
  background: #222;
}
.landing-contact-social-icons-ul li:hover:nth-child(1) a::before {
  background: #1a1919;
}
.landing-contact-social-icons-ul li:hover:nth-child(1) a::after {
  background: #343434;
}

/* TWITTER LI */
.landing-contact-social-icons-ul li:hover:nth-child(2) a {
  background: #00aced;
}
.landing-contact-social-icons-ul li:hover:nth-child(2) a::before {
  background: #097aa5;
}
.landing-contact-social-icons-ul li:hover:nth-child(2) a::after {
  background: #53b9e0;
}

/* INSTAGRAM LI */
.landing-contact-social-icons-ul li:hover:nth-child(3) a {
  background: #e4405f;
}
.landing-contact-social-icons-ul li:hover:nth-child(3) a::before {
  background: #d81c3f;
}
.landing-contact-social-icons-ul li:hover:nth-child(3) a::after {
  background: #e46880;
}

/* FACEBOOK LI */
.landing-contact-social-icons-ul li:hover:nth-child(4) a {
  background: #3b5998;
}
.landing-contact-social-icons-ul li:hover:nth-child(4) a::before {
  background: #2e497e;
}
.landing-contact-social-icons-ul li:hover:nth-child(4) a::after {
  background: #4d75c3;
}

/* END */
/* LANDING CONTACT WRAPPER */

/* CARD ABOUT SECTION EFFECT */

.card-label {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 350px;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: all 0.6s ease-in;
  border-radius: 10px;
}

.dropdown.playlist .dropdown-menu { 
  background-color: #fcead363;
  transition: background-color 0.3s ease;
  border:none;
  border-radius: 10px;
  transform: translate3d(-100px, 25px, 0px) !important;
}
.dropdown.playlist .dropdown-menu:hover {
  background-color: #1d1d1dc2;
}
.dropdown.playlist .dropdown-item {
  color: rgb(255, 255, 255);
  letter-spacing: 1.5px;
  align-items: center;
  display: flex;
  font-weight: 100;
  font-size: 15px;
  line-height: 1.1;
}
.dropdown.playlist .dropdown-item:hover {
  color: rgb(252, 242, 249);
}

.card-label.active {
  opacity: 1;
  visibility: visible;
}

.dropdown.playlist .dropdown-item:hover {
  background-color: inherit;
}
.dropdown.playlist .dropdown-item:active {
  background-color: transparent;
}

.dropdown.playlist .dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown.playlist .dropdown-item label {
  font-size: 14px;
}

.dropdown.playlist .dropdown-item input {
  width: 10px;
  height: auto;
}

/* ahi vengo */

.myplaylist-menu {
  position: absolute;
  font-size: 40px;
  top: -5px;
  left: 220px;
  z-index: 101;
}

/* CHANGE PASSWORD  */

.passwordsMatch {
  background-color: rgb(34, 155, 34) !important;
  border: 1px solid rgb(34, 155, 34) !important;
}


/* CREATE IMAGE PREVIEW */

.imagePreview {
  display: flex;
  position: relative;
  width: fit-content;
}

.imagePreview img:first-child {
  width: 150px;
  border-radius: 15px;  
}
.closePreview{
  position: absolute;
  left: 18%;
  top: 18%;
  width: 100px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
}

.imagePreview:hover .closePreview{
  opacity: 1;
  visibility: visible;
}


/* SEARCH BAR */

.rbt-menu{
  background-color: #1f1f1f;
}

.rbt-menu:hover{
  background-color: #1f1f1f;
}

.rbt-menu::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
.rbt-menu::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
.rbt-menu::-webkit-scrollbar-thumb {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Handle on hover */
.rbt-menu::-webkit-scrollbar-thumb:hover {
  background: #c31432;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.header .dropdown-menu{
  background-color: #1f1f1f !important;
}

.header .dropdown-item{
  color: whitesmoke !important;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}


.header .dropdown-item:last-child{
  color: rgb(192, 62, 62) !important;
  font-size: 13px;
}



/* FLIP CARD */

/* FLIP CARD */

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
  font-family: sans-serif;
  z-index: 101;
}

.titleF {
  font-size: 1.5em;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 3px;
  line-height: 40px;
  font-family: 'Pacifico', cursive;
  /* text-align: center; */
  /* margin: 0; */
}

.titleB{
  font-size: 13px;
  color: #777777;
  letter-spacing: 1px;
  font-weight: 300;
}

.titleC{
  margin-top: 1rem;
  font-size: 15px;
  color:coral;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 35px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card.locked .flip-card-inner{
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
  text-align: left;
  padding: 3rem 2rem;
  justify-content: start;
}

.leftLog{
  position: absolute;
  bottom: 20px;
}

.flip-card-back {
  background-color:rgba(255, 127, 80, 0.603);
  color: white;
  box-shadow: 0 0 .1rem #fff,
  0 0 .1rem #fff,
  0 0 1rem coral,
  0 0 0.4rem coral,
  0 0 1.4rem coral,
  inset 0 0 1.3rem coral; 
  transform: rotateY(180deg);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.flip-card-lock{
  position: absolute;
  top: 20px;
  right: 20px;
}



.signUpImgActive{
  scale: 1.2;
}



/* FORM CONTROL BOOTSTRAP CHECKOUT PAGE INFORMATION SECTION SELECT STATE */

.form-control,
.form-select{
  padding: 0.5rem 0.5rem !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* MY PLAYLIST DROPDOWN */


#myplaylist .dropdown-menu{
  transform: none !important;
  margin-top: 1rem !important;
  margin-left: 7rem;
  z-index: 101 !important;
}



/* PLAYER HIDE CLASSES */

.playerArticle{
  position: fixed;
  bottom: 0px;
  z-index: 999;
  height: fit-content;
  width: 100%;
  background-color: #070707;
  transition: all 0.3s ease;
}

.playerArticle.hide{
  bottom: -170px;
}

.whenPlayerHide{
  position: absolute;
  color: white;
  z-index: 999;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border-radius: 50px;
  top: -110px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.whenPlayerHide:hover{
  scale: 1.1;
}

.whenPlayerHide.active{
  opacity: 1;
  visibility: visible;
}



/* PRIME REACT TOAST */

/* .p-toast .p-toast-message.p-toast-message-info{
  
} */





/* MEMBERSHIP - BE MEMBER */
.card {
  width: 240px;
  height: 300px;
  background: linear-gradient(to right, #240b36, #c31432);
  transform: rotate(20deg) skew(-10deg, -5deg);
  transition: .6s linear;
  display: flex;
  border-radius: 10px;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center; 
  box-shadow: 13px 13px 13px black;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 5px 3px,
  rgba(0, 0, 0, 0.4) 10px 6px,
  rgba(255, 253, 253, 0.3) 15px 9px;
  background: linear-gradient(to right, #7d20c0, #ff2f52);
  color: #ffddee;
  font-size: 1.1rem;
}
.buttonMember {
  width: fit-content;
  display: flex;
  padding: 10px;
  gap: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 190px;
  margin-bottom: 20px;
  font-size: 13px;
  border-radius: 30px;
  border: none;
  box-shadow: 3px 3px 3px black;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(15deg, #880088, #aa2068, #cc3f47, #de6f3d, #f09f33, #de6f3d, #cc3f47, #aa2068, #880088) no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: all .6s ease;
  color: #fff;
}
.buttonMember:hover {
  scale: 1.1;  
  background-size: 320%;
  background-position: right center;
}
.buttonMember:hover svg {
  fill: #fff;
}

.buttonMember svg {
  width: 25px;
  fill: #f09f33;
}
.type {
  width: 100%;
  background: rgba(0, 0, 0, 0.808);  
  padding: 15px;
 }
.typeh2{
  background: -webkit-linear-gradient(#ff0582, #ff9f22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}
.databox {
  margin-top: 20px;
}
.date {
  color: white;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 2px;
}
.price {
  background: -webkit-linear-gradient(#ff0582, #ff9f22);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
  font-weight:900;
  letter-spacing: 1.5px;
 }
/* ********************* */
.tittle {
  font-size: 50px;
  background: -webkit-linear-gradient(#ff2252, #b6660b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700px;
  letter-spacing: 1.5px;
}

.info {
  font-size: 23px;
  letter-spacing: 1.3px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.363);
  margin-bottom: 50px;
  margin-top: 10px;
}
.dat {
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.322);
}
.content {
  margin-top: -70px;
  justify-content: center;
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.pyramid-loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient( #ec9c24, #ff2252, #d437f3, #f79423);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient( #f79423, #d437f3, #ff2252, #f79423);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient( #f79423, #d437f3, #ff2252, #f79423);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient( #ec9c24, #ff2252, #d437f3, #f79423);
}

.pyramid-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  background: #f572ce;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}
.ourMember { 
  width: 100vh; 
  margin-bottom: 80px;
  background: rgba(0, 0, 0, 0.726);
  padding: 40px;
  border-radius: 10px;
}
.aboutUs { 
  color: wheat;
  font-size: 18px;
  font-family:monospace;
  letter-spacing: 1.3px;
}

.aboutName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 35px;
  background: -webkit-linear-gradient(#ff2252, #ffc60c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900px;
  letter-spacing: 1.5px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-card {
  width: 300px;
  border: 1px solid #ccc;
  background: linear-gradient(#ff2252c4, #ffc60c77);  
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.testimonial-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  letter-spacing: 1.2px;
  color: white;
}

.client-name {
  color: rgb(78, 1, 78);
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.client-role {
  font-size: 12px;
  color: #f1a5a5;
}

.ourMember {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
  background: rgba(0, 0, 0, 0.726);
  padding: 40px;
  border-radius: 10px;
}


