.loginWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 4rem 0rem; */
  height: calc(100vh + 10px);
  position: relative;
}

.back{
  position: absolute;
  top: 30px;
  left: 30px;
  transition: all 0.5s ease;
  z-index: 101;
}

.back:hover{
  scale: 1.2;
}

.back:hover i{
  color: coral !important;
}

.formDiv{
  text-align: center;
}

.form{
  width: 400px;
  padding: 3rem;
}



.form input{
  border: none;
  background-color: #f5f5f7;
  margin-bottom: 1.5rem;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  font-size: 13px;
  width: 100%;
  letter-spacing: 1px;
}

.form input::placeholder{
  font-size: 13px;
  letter-spacing: 1px;
}

.form input:focus{
  outline: none;
  border: 1px solid coral;

}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}




.videoWrapper{
  position: absolute;

  width: 100%;
  height: 100%;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.btn1{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: coral;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 50px;
  padding-top: 1rem;
  padding-right: 0.8rem;
  padding-bottom: 0.5rem;
}

.btn1 i{
  transition: all 0.3s ease;
}

.btn1:hover i{
  scale: 1.2;
}


.btn2 i{
  transition: all 0.3s ease;
}

.btn2:hover i{
  scale: 1.2;
}

.forgotP{
  font-size: 14px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.forgotP:hover{
  letter-spacing: 2px;
}


.btn2{
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: coral;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50px;
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-bottom: 0.5rem;
}

.google{
  display: flex;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}